{
  "swagger": "2.0",
  "host": "cc-api-behance.adobe.io",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Users"
    },
    {
      "name": "Work in Progress"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Project Editor"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Activity Feed"
    },
    {
      "name": "Galleries"
    },
    {
      "name": "Public Profile Service"
    },
    {
      "name": "CCN"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Fields"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Upload"
    },
    {
      "name": "For You"
    },
    {
      "name": "Creatives to Follow"
    },
    {
      "name": "Live"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Moderation"
    },
    {
      "name": "Adobe Talent"
    }
  ],
  "info": {
    "title": "Behance API V2 Documentation",
    "description": "Access the data behind millions of creative projects and users.",
    "termsOfService": "https://www.adobe.com/legal/terms.html",
    "version": "2.0.0",
    "contact": {
      "name": "Behance API Team",
      "email": "api@behancenetwork.zendesk.com"
    }
  },
  "paths": {
    "/activity": {
      "get": {
        "x-category": "Activity Feed",
        "tags": [
          "Activity Feed"
        ],
        "operationId": "getActivityFeed",
        "summary": "Get a user's activity feed",
        "description": "Get the authenticated user's activity feed.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "activity": {
                  "$ref": "#/definitions/ActivityFeed"
                }
              }
            }
          }
        }
      }
    },
    "/activity/since": {
      "get": {
        "x-category": "Activity Feed",
        "tags": [
          "Activity Feed"
        ],
        "operationId": "getActivityFeedSince",
        "summary": "Get a user's feed by timestamp",
        "description": "Get the authenticated user's activity feed from the specified timestamp forward.",
        "parameters": [
          {
            "name": "onset_ts",
            "in": "query",
            "description": "Unix timestamp describing the time from which to fetch the activity feed.",
            "example": 1530322157
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "activity": {
                  "$ref": "#/definitions/ActivityFeed"
                }
              }
            }
          }
        }
      }
    },
    "/ccn/{networkId}/member": {
      "get": {
        "x-category": "CCN",
        "tags": [
          "CCN"
        ],
        "operationId": "getCCNMemberStatus",
        "summary": "Get membership status",
        "description": "Get membership status of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/NetworkIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "is_member": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "CCN",
        "tags": [
          "CCN"
        ],
        "operationId": "postCCNMemberStatus",
        "summary": "Add a new CCN member",
        "description": "Add the authenticated user to the CCN.",
        "parameters": [
          {
            "$ref": "#/parameters/NetworkIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "joined": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "CCN",
        "tags": [
          "CCN"
        ],
        "operationId": "deleteCCNMemberStatus",
        "summary": "Delete a CCN membership",
        "description": "Remove the authenticated user from the CCN.",
        "parameters": [
          {
            "$ref": "#/parameters/NetworkIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "removed": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "getCollections",
        "summary": "Search and filter collections",
        "description": "Search and filter collections.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "collections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Collection"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "postCollections",
        "summary": "Create a collection",
        "description": "Create a collection of projects.",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "title",
            "type": "string",
            "required": true,
            "description": "The title of the collection to be created.",
            "x-example": "Best Coffee and Pie Spots"
          },
          {
            "in": "formData",
            "name": "projects",
            "type": "string",
            "description": "A pipe delimited string of integer project IDs to add to the collection.",
            "x-example": "123|456|789"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "collection": {
                  "$ref": "#/definitions/Collection"
                },
                "projects": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "description": "An array of project IDs added to the collection",
                      "example": [
                        123,
                        456,
                        789
                      ],
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/400LegacyValidationErrors"
          }
        }
      }
    },
    "/collections/{collectionId}": {
      "get": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "getCollection",
        "summary": "Get a single collection",
        "description": "Get a single collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "$ref": "#/definitions/Collection"
                }
              }
            }
          }
        }
      },
      "put": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "putCollection",
        "summary": "Update a collection",
        "description": "Update a collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "title",
            "required": true,
            "description": "The collection's title",
            "x-example": "Best Coffee and Pie Spots"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "privacy",
            "description": "The collection's privacy setting.",
            "x-example": "private",
            "enum": [
              "private",
              "public"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "collection": {
                  "$ref": "#/definitions/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/400LegacyValidationErrors"
          }
        }
      },
      "delete": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "deleteCollection",
        "summary": "Delete a collection",
        "description": "Delete a collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/projects": {
      "get": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "getCollectionProjects",
        "summary": "List projects",
        "description": "List projects belonging to the specified collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Projects"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "postCollectionProjects",
        "summary": "Add projects to a collection",
        "description": "Add projects to a collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          },
          {
            "in": "formData",
            "name": "projects",
            "required": true,
            "type": "string",
            "description": "A pipe delimited string of integer project IDs",
            "x-example": "123|456|789"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/400LegacyValidationErrors"
          }
        }
      }
    },
    "/collections/{collectionId}/projects/{projectId}": {
      "delete": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "deleteCollectionProject",
        "summary": "Remove project from collection",
        "description": "Remove a project from a collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "removed": {
                  "type": "boolean",
                  "example": true
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collectionId}/coowners": {
      "get": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "getCollectionCoowners",
        "summary": "List owners",
        "description": "List the owners of the collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "postCollectionCoowners",
        "summary": "Add an owner",
        "description": "Add an owner to the collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          },
          {
            "in": "formData",
            "description": "The integer user ID to add as a collection owner.",
            "required": true,
            "name": "coowner",
            "type": "integer",
            "x-example": 163039
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/400LegacyValidationErrors"
          }
        }
      }
    },
    "/collections/{collectionId}/coowners/{userId}": {
      "delete": {
        "x-category": "Collections",
        "tags": [
          "Collections"
        ],
        "operationId": "deleteCollectionCoowner",
        "summary": "Remove an owner",
        "description": "Remove an owner from the collection.",
        "parameters": [
          {
            "$ref": "#/parameters/CollectionIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/UserIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/creativestofollow": {
      "get": {
        "x-category": "Creatives to Follow",
        "tags": [
          "Creatives to Follow"
        ],
        "operationId": "getCreativesToFollow",
        "summary": "Get a list of top users",
        "description": "Get a list of top users.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "creatives_to_follow": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fields": {
      "get": {
        "x-category": "Fields",
        "tags": [
          "Fields"
        ],
        "operationId": "getFields",
        "summary": "Get creative fields",
        "description": "Retrieve a full list of creative fields.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "fields": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CreativeField"
                  }
                },
                "popular": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CreativeField"
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/foryou/projects": {
      "get": {
        "x-category": "For You",
        "tags": [
          "For You"
        ],
        "operationId": "getForYouProjects",
        "summary": "Get recommended projects",
        "description": "Get recommended projects for the authenticated user.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "type": "string",
            "example": "recommended",
            "enum": [
              "new",
              "recommended"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "The number of projects to return per page.",
            "example": 2,
            "minimum": 1,
            "maximum": 12
          },
          {
            "name": "styles",
            "in": "query",
            "description": "Set to 1 to include project styles with each result.",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "appreciated",
            "in": "query",
            "description": "Set to 1 to include the authenticated user's appreciation status with each result.",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "colors",
            "in": "query",
            "description": "Set to 1 to include project colors data with each result.",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "featured_on",
            "in": "query",
            "description": "Set to 1 to include project feature data with each result.",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "card",
            "in": "query",
            "description": "Set to 1 to receive a limited representation of the user.",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/galleries": {
      "get": {
        "x-category": "Galleries",
        "tags": [
          "Galleries"
        ],
        "operationId": "getGalleries",
        "summary": "List galleries",
        "description": "List galleries.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CuratedGallery"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/galleries/{galleryId}": {
      "get": {
        "x-category": "Galleries",
        "tags": [
          "Galleries"
        ],
        "operationId": "getGallery",
        "summary": "Get a single gallery",
        "description": "Get a single gallery.",
        "parameters": [
          {
            "$ref": "#/parameters/GalleryIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "gallery": {
                  "$ref": "#/definitions/CuratedGallery"
                }
              }
            }
          }
        }
      }
    },
    "/galleries/{galleryId}/follow": {
      "post": {
        "x-category": "Galleries",
        "tags": [
          "Galleries"
        ],
        "operationId": "postGalleryFollow",
        "summary": "Follow a gallery",
        "description": "Follow a gallery on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/GalleryIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "Galleries",
        "tags": [
          "Galleries"
        ],
        "operationId": "deleteGalleryFollow",
        "summary": "Unfollow a gallery",
        "description": "Unfollow a gallery on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/GalleryIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/locations/countries": {
      "get": {
        "x-category": "Locations",
        "tags": [
          "Locations"
        ],
        "operationId": "getLocationCountries",
        "summary": "Get a list of countries",
        "description": "Get a list of countries.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "short_name": {
                        "type": "string",
                        "example": "US"
                      },
                      "long_name": {
                        "type": "string",
                        "example": "United States"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/regions": {
      "get": {
        "x-category": "Locations",
        "tags": [
          "Locations"
        ],
        "operationId": "getLocationRegions",
        "summary": "Get a list of regions",
        "description": "Get a list of regions.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The country code to retrieve regions from.",
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "short_name": {
                        "type": "string",
                        "example": "AL"
                      },
                      "long_name": {
                        "type": "string",
                        "example": "Alabama"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/cities": {
      "get": {
        "x-category": "Locations",
        "tags": [
          "Locations"
        ],
        "operationId": "getLocationCities",
        "summary": "Get a list of cities",
        "description": "Get a list of cities.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The country code to retrieve cities from.",
            "example": "US"
          },
          {
            "name": "region",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The region/state abbreviation to retrieve cities from.",
            "example": "WA"
          },
          {
            "name": "query",
            "in": "query",
            "type": "string",
            "description": "A query string to match the city name against.",
            "example": "Twin Peaks"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Twin Peaks"
                      },
                      "location_id": {
                        "type": "string",
                        "example": "256170687-en"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/live/notifications": {
      "get": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "getLiveNotifications",
        "summary": "Get live video subscription status",
        "description": "Get subscription status for upcoming live video notifications.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "isPartialUser": {
                  "type": "boolean",
                  "example": false
                },
                "status": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "postLiveNotifications",
        "summary": "Subscribe to live video notifications",
        "description": "Subscribe to live video notifications on behalf of the authenticated user.",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "deleteLiveNotifications",
        "summary": "Unsubscribe from live video notifications",
        "description": "Unsubscribe from live video notifications on behalf of the authenticated user.",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/live/videos": {
      "get": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "getLiveVideos",
        "summary": "Get live videos",
        "description": "Get a list of live videos.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "example": "https://www.youtube.com/watch?v=pXrjMaVoTy0"
          },
          {
            "name": "schedule",
            "in": "query",
            "type": "string",
            "example": "upcoming",
            "enum": [
              "upcoming"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "videos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LiveVideo"
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/live/replays": {
      "get": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "getLiveVideoReplays",
        "summary": "Get live video replays",
        "description": "Get a list of live video replays.",
        "parameters": [
          {
            "name": "creative_category",
            "in": "query",
            "type": "integer",
            "description": "A creative category ID to filter the results by.",
            "example": 44
          },
          {
            "name": "num",
            "in": "query",
            "type": "integer",
            "description": "The number of results to return per page.",
            "example": 5
          },
          {
            "name": "max_start_time",
            "in": "query",
            "type": "string",
            "description": "The date/time of the most recent replay.",
            "example": "2018-02-28 19:00:00"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "description": "The result page number of the results.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "videos": {
                  "type": "object",
                  "properties": {
                    "videos": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/LiveVideo"
                      }
                    },
                    "more_results": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/live/video/{videoId}": {
      "get": {
        "x-category": "Live",
        "tags": [
          "Live"
        ],
        "operationId": "getLiveVideo",
        "summary": "Get a live video",
        "description": "Get a live video.",
        "parameters": [
          {
            "$ref": "#/parameters/LiveVideoIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "videos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LiveVideo"
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getNotifications",
        "summary": "Get notifications",
        "description": "Get notifications for the authenticated user.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "notifications": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Notification"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/count": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getNotificationCount",
        "summary": "Get notification count",
        "description": "Get the total number of unread notifications for the authenticated user.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 3
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notificationId}": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getNotification",
        "summary": "Get a single notification",
        "description": "Get a single notification.",
        "parameters": [
          {
            "$ref": "#/parameters/NotificationIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "notification": {
                  "$ref": "#/definitions/Notification"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/projects/{projectId}/comments": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getProjectCommentNotifications",
        "summary": "Get project comment notifications",
        "description": "Get a list of project comment notifications for the specified project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "notifications": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProjectCommentNotification"
                  }
                },
                "has_more": {
                  "$ref": "#/definitions/BinaryIntege"
                },
                "earliest_ts": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "latest_ts": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/notifications/projects/{projectId}/comments/count": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getProjectCommentNotificationCount",
        "summary": "Get project comment notification count",
        "description": "Get the total number of unread comment notifications for the specified project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 3
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/notifications/invitations": {
      "get": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "getInvitationNotifications",
        "summary": "Get invitation notifications",
        "description": "Get invitation notifications for the authenticated user.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "invitations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Invitation"
                  }
                },
                "http_status": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/notifications/invitations/{invitationId}": {
      "put": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "putInvitationNotification",
        "summary": "Accept an invitation",
        "description": "Accept an invitation on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/InvitationIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_status": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "Notifications",
        "tags": [
          "Notifications"
        ],
        "operationId": "deleteInvitationNotification",
        "summary": "Decline an invitation",
        "description": "Decline an invitation on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/InvitationIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_status": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/onboarding": {
      "post": {
        "x-category": "Onboarding",
        "tags": [
          "Onboarding"
        ],
        "operationId": "postOnboarding",
        "summary": "Complete onboarding",
        "description": "Complete onboarding on behalf of the authenticated user.",
        "parameters": [
          {
            "in": "formData",
            "type": "string",
            "name": "categories",
            "required": true,
            "description": "A pipe delimited string of integer category IDs.",
            "x-example": "123|456|789"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "http_status": {
                  "type": "integer",
                  "example": 202
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/400LegacyValidationErrors"
          }
        }
      }
    },
    "/project/editor": {
      "post": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "postProjectEditor",
        "summary": "Create a project",
        "description": "Create a project.",
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "type": "string",
            "example": "Double R Diner Artwork"
          },
          {
            "name": "description",
            "in": "formData",
            "type": "string",
            "example": "All of my favorite artwork referencing the famous Double R Diner of Twin Peaks, WA."
          },
          {
            "name": "fields",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of creative fields.",
            "example": "Photography|UI Design"
          },
          {
            "name": "license",
            "in": "formData",
            "type": "string",
            "example": "no-use",
            "enum": [
              "no-use",
              "by-nc-nd",
              "by-nc-sa",
              "by-nc",
              "by-nd",
              "by-sa",
              "by"
            ]
          },
          {
            "name": "allow_comments",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "background_color",
            "in": "formData",
            "type": "string",
            "description": "The background color for the project. A color hex code.",
            "example": "#FF00FF"
          },
          {
            "name": "mature_content",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "published",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "tags",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of search tags.",
            "example": "Pie|Coffee|Cherry"
          },
          {
            "name": "conceived_on",
            "in": "formData",
            "description": "Unix epoch time in seconds representing when the project was idealized.",
            "example": 1477505033
          },
          {
            "name": "tools",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of tool integer IDs.",
            "example": "123|456|789"
          },
          {
            "name": "credits",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to credit on the project.",
            "example": "123|456|789"
          },
          {
            "name": "coowners",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to be added as co-owners of the project.",
            "example": "123|456|789"
          },
          {
            "name": "teams",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of team integer IDs to associate with the project.",
            "example": "123|456|789"
          },
          {
            "name": "privacy",
            "in": "formData",
            "type": "string",
            "enum": [
              "private",
              "public",
              "custom",
              "portfolio"
            ]
          },
          {
            "name": "visible_to",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to limit the project's visibility to.",
            "example": "123|456|789"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "$ref": "#/definitions/Project"
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/{projectId}": {
      "patch": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "patchProjectEditor",
        "summary": "Modify a project",
        "description": "Modify a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "name": "title",
            "in": "formData",
            "type": "string",
            "example": "Double R Diner Artwork"
          },
          {
            "name": "description",
            "in": "formData",
            "type": "string",
            "example": "All of my favorite artwork referencing the famous Double R Diner of Twin Peaks, WA."
          },
          {
            "name": "fields",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of creative fields.",
            "example": "Photography|UI Design"
          },
          {
            "name": "license",
            "in": "formData",
            "type": "string",
            "example": "no-use",
            "enum": [
              "no-use",
              "by-nc-nd",
              "by-nc-sa",
              "by-nc",
              "by-nd",
              "by-sa",
              "by"
            ]
          },
          {
            "name": "allow_comments",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "background_color",
            "in": "formData",
            "type": "string",
            "description": "The background color for the project. A color hex code.",
            "example": "#FF00FF"
          },
          {
            "name": "mature_content",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "published",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "tags",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of search tags.",
            "example": "Pie|Coffee|Cherry"
          },
          {
            "name": "conceived_on",
            "in": "formData",
            "description": "Unix epoch time in seconds representing when the project was idealized.",
            "example": 1477505033
          },
          {
            "name": "tools",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of tool integer IDs.",
            "example": "123|456|789"
          },
          {
            "name": "credits",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to credit on the project.",
            "example": "123|456|789"
          },
          {
            "name": "coowners",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to be added as co-owners of the project.",
            "example": "123|456|789"
          },
          {
            "name": "teams",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of team integer IDs to associate with the project.",
            "example": "123|456|789"
          },
          {
            "name": "privacy",
            "in": "formData",
            "type": "string",
            "enum": [
              "private",
              "public",
              "custom",
              "portfolio"
            ]
          },
          {
            "name": "visible_to",
            "in": "formData",
            "type": "string",
            "description": "A pipe delimited string of user integer IDs to limit the project's visibility to.",
            "example": "123|456|789"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "$ref": "#/definitions/Project"
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/{projectId}/clone": {
      "post": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "postProjectClone",
        "summary": "Clone an existing project",
        "description": "Clone an existing project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "$ref": "#/definitions/Project"
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/{projectId}/reorder": {
      "patch": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "patchProjectReorder",
        "summary": "Reposition a project in the user's portfolio",
        "description": "Moves the position of the project in the user's portfolio, relative to another project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "name": "after_project_id",
            "in": "formData",
            "required": true,
            "type": "integer",
            "description": "The project ID after which this project should appear in the user's portfolio.",
            "example": 1029
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/{projectId}/modules": {
      "post": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "postProjectModules",
        "summary": "Create a new project module",
        "description": "Create a new project module.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "name": "type",
            "in": "formData",
            "type": "string",
            "example": "text",
            "required": true,
            "enum": [
              "image",
              "video",
              "audio",
              "embed",
              "text"
            ]
          },
          {
            "name": "original_width",
            "in": "formData",
            "type": "string",
            "description": "Applies only to embed modules. The original width of the embed object.",
            "example": "500px"
          },
          {
            "name": "original_height",
            "in": "formData",
            "type": "string",
            "description": "Applies only to embed modules. The original height of the embed object.",
            "example": "500px"
          },
          {
            "name": "alignment",
            "in": "formData",
            "type": "string",
            "example": "left",
            "enum": [
              "left",
              "right",
              "center"
            ]
          },
          {
            "name": "caption",
            "in": "formData",
            "type": "string",
            "example": "The best cherry pie in all of Washington."
          },
          {
            "name": "caption_alignment",
            "in": "formData",
            "type": "string",
            "example": "left",
            "enum": [
              "left",
              "right",
              "center"
            ]
          },
          {
            "name": "full_bleed",
            "in": "formData",
            "type": "integer",
            "description": "Display the module at full width without any padding. Module must be at least 1400px wide.",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "html",
            "in": "formData",
            "type": "string",
            "description": "Can be basic HTML or plain text. Required when creating a text or embed module.",
            "example": "Isn't it too dreamy?"
          },
          {
            "name": "source_url",
            "in": "formData",
            "type": "string",
            "description": "Source URL of the image/video in our temporary S3 bucket. Required for video, audio, and image modules.",
            "example": "https:/s3.amazonaws.com/be-network-sh-tmp-stage-ue1-a/0C8E7ACB-6D81-4D50-ADA9-777BF9CDE8B6.jpg"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "module": {
                  "$ref": "#/definitions/ProjectModule"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/{projectId}/modules/{moduleId}": {
      "patch": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "patchProjectModule",
        "summary": "Modify a project module",
        "description": "Modify a project module.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/ProjectModuleIdRequiredInPath"
          },
          {
            "name": "original_embed",
            "in": "formData",
            "type": "string",
            "example": "<iframe src='example.com/embed/123'></iframe>"
          },
          {
            "name": "original_width",
            "in": "formData",
            "type": "string",
            "description": "Applies only to embed modules. The original width of the embed object.",
            "example": "500px"
          },
          {
            "name": "original_height",
            "in": "formData",
            "type": "string",
            "description": "Applies only to embed modules. The original height of the embed object.",
            "example": "500px"
          },
          {
            "name": "width_unit",
            "type": "string",
            "description": "The unit of measurement used in the original_width key",
            "example": "px",
            "enum": [
              "px",
              "\\%"
            ]
          },
          {
            "name": "alignment",
            "in": "formData",
            "type": "string",
            "example": "left",
            "enum": [
              "left",
              "right",
              "center"
            ]
          },
          {
            "name": "caption",
            "in": "formData",
            "type": "string",
            "example": "The best cherry pie in all of Washington."
          },
          {
            "name": "caption_alignment",
            "in": "formData",
            "type": "string",
            "example": "left",
            "enum": [
              "left",
              "right",
              "center"
            ]
          },
          {
            "name": "full_bleed",
            "in": "formData",
            "type": "integer",
            "description": "Display the module at full width without any padding. Module must be at least 1400px wide.",
            "example": 1,
            "enum": [
              1,
              0
            ]
          },
          {
            "name": "html",
            "in": "formData",
            "type": "string",
            "description": "Can be basic HTML or plain text. Required when creating a text or embed module.",
            "example": "Isn't it too dreamy?"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "module": {
                  "$ref": "#/definitions/ProjectModule"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "Project Editor",
        "tags": [
          "Project Editor"
        ],
        "operationId": "deleteProjectModule",
        "summary": "Delete a project module",
        "description": "Delete a project module.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/ProjectModuleIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "deleted": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/auto_sign_request": {
      "post": {
        "x-category": "Upload",
        "tags": [
          "Upload"
        ],
        "operationId": "postSinglePart",
        "summary": "Generate a signed S3 URL",
        "description": "Generates a signed URL and object key with which a client can upload binary data to our temporary S3 bucket. Data lives in this bucket for up to 24 hours.",
        "parameters": [
          {
            "name": "extension",
            "in": "formData",
            "required": true,
            "description": "The file extension of the asset to be uploaded.",
            "type": "string",
            "example": "jpg"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "$ref": "#/definitions/PresignedS3URI"
                },
                "expires_in": {
                  "$ref": "#/definitions/PresignedS3ExpiresIn"
                },
                "object": {
                  "$ref": "#/definitions/PresignedS3Object"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/auto_sign_multipart/initiate": {
      "post": {
        "x-category": "Upload",
        "tags": [
          "Upload"
        ],
        "operationId": "postMultiPartInitiate",
        "summary": "Intitiate a multipart upload.",
        "description": "Initiate a multipart upload. This is the first step of the multipart upload flow.",
        "parameters": [
          {
            "name": "extension",
            "in": "formData",
            "required": true,
            "description": "The file extension of the asset to be uploaded.",
            "type": "string",
            "example": "jpg"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "upload_id": {
                  "type": "string",
                  "description": "The upload ID to be used in subsequent multipart upload flow requests.",
                  "example": "xzhrO21LSq_ToucpRH7J_71C2sdC8dDe6c8T_kdlPCRanysnet8MaaKORkymPbROn5QYFj0I_zmG7R3Br08w11dAM3pZG2yg9DRIu_JCe6zmO6xAGVMc26QcluNXZXe6"
                },
                "object": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "The S3 object key name generated for the asset to be uploaded.",
                      "example": "555d9e1d-ee32-45e0-97a9-7ab09d86c0ca.png"
                    }
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/auto_sign_multipart/upload": {
      "post": {
        "x-category": "Upload",
        "tags": [
          "Upload"
        ],
        "operationId": "postMultiPartUpload",
        "summary": "Generate a presigned multipart S3 URL",
        "description": "Generate a presigned multipart S3 URL.",
        "parameters": [
          {
            "$ref": "#/parameters/PresignedS3UploadId"
          },
          {
            "$ref": "#/parameters/PresignedS3ObjectKey"
          },
          {
            "name": "part_number",
            "in": "formData",
            "required": true,
            "type": "integer",
            "description": "The part number of the object to be uploaded. This should be 1 if it is the first part, 2 if it is the second, and so on. These numbers are used to reconstruct the object on AWS's side.",
            "example": 1
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "$ref": "#/definitions/PresignedS3URI"
                },
                "upload_id": {
                  "$ref": "#/defintions/PresignedS3UploadId"
                },
                "expires_in": {
                  "$ref": "#/definitions/PresignedS3ExpiresIn"
                },
                "object": {
                  "$ref": "#/definitions/PresignedS3Object"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/auto_sign_multipart/complete": {
      "post": {
        "x-category": "Upload",
        "tags": [
          "Upload"
        ],
        "operationId": "postMultiPartComplete",
        "summary": "Complete a multipart upload",
        "description": "Completes a multipart upload after all parts have been uploaded.",
        "parameters": [
          {
            "$ref": "#/parameters/PresignedS3UploadId"
          },
          {
            "$ref": "#/parameters/PresignedS3ObjectKey"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "upload_id": {
                  "$ref": "#/defintions/PresignedS3UploadId"
                },
                "object": {
                  "$ref": "#/definitions/PresignedS3Object"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/project/editor/auto_sign_multipart/abort": {
      "post": {
        "x-category": "Upload",
        "tags": [
          "Upload"
        ],
        "operationId": "postMultiPartAbort",
        "summary": "Abort an in progress multipart upload",
        "description": "Abort an in progress multipart upload.",
        "parameters": [
          {
            "$ref": "#/parameters/PresignedS3UploadId"
          },
          {
            "$ref": "#/parameters/PresignedS3ObjectKey"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "getProjects",
        "summary": "Search and filter projects",
        "description": "Search and filter projects.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/drafts": {
      "get": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "getProjectDrafts",
        "summary": "Get project drafts",
        "description": "Get project drafts for the authenticated user.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Get a single project",
        "description": "Get a single project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "$ref": "#/definitions/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/comments": {
      "get": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "getProjectComments",
        "summary": "Get project comments",
        "description": "Get the comments associated with a specific project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "comments": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Comment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/collections": {
      "get": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "getProjectCollections",
        "summary": "Get project collections",
        "description": "Get the collections associated with a specific project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "comments": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Collection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/view": {
      "post": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "postProjectView",
        "summary": "View a project",
        "description": "View a project on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "appreciated": {
                  "type": "boolean",
                  "example": true
                },
                "has_user": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "appreciated_on": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/appreciate": {
      "post": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "postProjectAppreciation",
        "summary": "Appreciate a project",
        "description": "Appreciate a project on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProjectAppreciation",
        "summary": "Unappreciate a project",
        "description": "Unappreciate a project on behalf of the authenticated user.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/credits/{userId}": {
      "delete": {
        "x-category": "Projects",
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProjectAppreciation",
        "summary": "Delete a project credit",
        "description": "Remove a credited user from a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/UserIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "403": {
            "$ref": "#/responses/403"
          }
        }
      }
    },
    "/report/{entityType}/{entityId}": {
      "post": {
        "x-category": "Moderation",
        "tags": [
          "Moderation"
        ],
        "operationId": "postModerationReport",
        "summary": "Report an entity",
        "description": "Report an entity as spam to be reviewed by the moderation team.",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The entity type to submit a report against.",
            "example": "project",
            "enum": [
              "project",
              "user",
              "segment"
            ]
          },
          {
            "name": "entityId",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "The entity ID to submit a report against.",
            "example": 12348
          },
          {
            "name": "reason",
            "in": "formData",
            "type": "integer",
            "required": true,
            "description": "The entity type to submit a report against. Acceptable values include 10 (copyright), 12 (offensive content), 14 (trademark infringement), 15 (adult content), 16 (privacy issue), and 18 (spam).",
            "example": 14,
            "enum": [
              10,
              12,
              14,
              15,
              18,
              16
            ]
          },
          {
            "name": "message",
            "in": "formData",
            "type": "string",
            "description": "An arbitrary message supplied by the user or application submitting the report.",
            "example": "This content is spam because XYZ."
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "description": "If not supplying an access token, an email address belonging to the person reporting the offense.",
            "example": "behance-api@adobe.com"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/settings/browsing": {
      "get": {
        "x-category": "Users",
        "tags": [
          "Users"
        ],
        "operationId": "getUserBrowserSettings",
        "summary": "Get user browser settings",
        "description": "Get the authenticated user's browser settings.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "settings": {
                  "type": "object",
                  "properties": {
                    "safe": {
                      "$ref": "#/definitions/BinaryInteger"
                    }
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Users",
        "tags": [
          "Users"
        ],
        "operationId": "postUserBrowserSettings",
        "summary": "Modify user browser settings",
        "description": "Modify the authenticated user's browser settings.",
        "parameters": [
          {
            "name": "safe",
            "in": "formData",
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              0
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "x-category": "Tags",
        "tags": [
          "Tags"
        ],
        "operationId": "getTags",
        "summary": "Search for tags",
        "description": "Search for tags.",
        "parameters": [
          {
            "$ref": "#/parameters/TagCategory"
          },
          {
            "$ref": "#/parameters/SearchQueryString"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "$ref": "#/definitions/Tag"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Tags",
        "tags": [
          "Tags"
        ],
        "operationId": "postTags",
        "summary": "Create a tag",
        "description": "Create a tag.",
        "parameters": [
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "required": true,
            "example": "Pie"
          },
          {
            "name": "category",
            "type": "string",
            "in": "formData",
            "required": true,
            "description": "A pipe delimited string of integer tag category IDs.",
            "example": "2|4|5",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "tag": {
                  "$ref": "#/definitions/Tag"
                },
                "http_code": {
                  "type": "integer",
                  "example": 201
                }
              }
            }
          }
        }
      }
    },
    "/talent/provisions": {
      "get": {
        "x-category": "Adobe Talent",
        "tags": [
          "Adobe Talent"
        ],
        "operationId": "getTalentProvisions",
        "summary": "Get talent provisioning",
        "description": "Retrieve the talent provisioning level for the authenticated user.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "level": {
                  "type": "string",
                  "example": "unlimited"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 401
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "error"
                      },
                      "message": {
                        "type": "string",
                        "example": "You do not have access to Talent."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/talent/jobs": {
      "get": {
        "x-category": "Adobe Talent",
        "tags": [
          "Adobe Talent"
        ],
        "operationId": "getTalentJobSearches",
        "summary": "Get job searches",
        "description": "Retrieve the job searches owned by the authenticated user.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "counts": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "integer",
                      "example": 43
                    },
                    "active": {
                      "type": "integer",
                      "example": 13
                    },
                    "archived": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                },
                "searches": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TalentSearchListing"
                  }
                },
                "matches": {
                  "type": "integer",
                  "example": 2
                },
                "timestamp": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/talent/jobs/{jobId}/details": {
      "get": {
        "x-category": "Adobe Talent",
        "tags": [
          "Adobe Talent"
        ],
        "operationId": "getTalentJobListing",
        "summary": "Get job listing",
        "description": "Get a single job listing.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TalentSearchListing"
            }
          }
        }
      }
    },
    "/talent/jobs/{jobId}/candidates": {
      "get": {
        "x-category": "Adobe Talent",
        "tags": [
          "Adobe Talent"
        ],
        "operationId": "getTalentJobListingCandidates",
        "summary": "Get a list of candidates",
        "description": "Get a list of candidates for the specified job listing.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "counts": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "integer",
                      "example": 9
                    },
                    "recommend": {
                      "type": "integer",
                      "example": 9
                    },
                    "discover": {
                      "type": "integer",
                      "example": 0
                    },
                    "apply": {
                      "type": "integer",
                      "example": 0
                    },
                    "shortlist": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                },
                "candidates": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                },
                "matches": {
                  "type": "integer",
                  "example": 9
                },
                "ordinal": {
                  "type": "integer",
                  "example": 9
                },
                "timestamp": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/talent/jobs/{jobId}/recommendations": {
      "patch": {
        "x-category": "Adobe Talent",
        "tags": [
          "Adobe Talent"
        ],
        "operationId": "patchTalentJobListingRecommendations",
        "summary": "Get candidate recommendations",
        "description": "Get a list of recommended candidates.",
        "parameters": null,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 9
                },
                "users": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                },
                "has_more": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "getTeams",
        "summary": "Search and filter teams",
        "description": "Search and filter teams.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "The query to search against",
            "example": "Log%20Lady"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "example": "published_date",
            "enum": [
              "featured_date",
              "appreciations",
              "views",
              "followed",
              "created_date"
            ]
          },
          {
            "name": "sort_order",
            "in": "query",
            "type": "string",
            "description": "The direction in which the results should be returned",
            "example": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "The page number of results. A minimum value of 1 is required",
            "example": 12
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "description": "The number of results to return per page",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "teams": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Team"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "postTeams",
        "summary": "Create a team",
        "description": "Create a team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamName"
          },
          {
            "$ref": "#/parameters/TeamSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "team": {
                  "$ref": "#/definitions/Team"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam",
        "summary": "Get a single team",
        "description": "Get a single team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "team": {
                  "$ref": "#/definitions/Team"
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "description": "Delete a team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "redirect_url": {
                  "type": "string",
                  "example": "https://www.behance.net/laurapalmer"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "patch": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "patchTeam",
        "summary": "Update a team",
        "description": "Update a team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/TeamName"
          },
          {
            "$ref": "#/parameters/TeamSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "team": {
                  "$ref": "#/definitions/Team"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/view": {
      "post": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "postTeamView",
        "summary": "Increment view count",
        "description": "Increment the view count for the specified team by one.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "$ref": "#/definitions/BinaryInteger"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/member_projects": {
      "get": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "getTeamMemberProjects",
        "summary": "Get projects",
        "description": "Get projects belonging to the specified team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  }
                },
                "count": {
                  "type": "integer",
                  "example": 4
                },
                "offset": {
                  "$ref": "#/definitions/UnixTimestamp"
                },
                "plural": {
                  "type": "boolean",
                  "example": false
                },
                "is_team": {
                  "type": "boolean",
                  "example": true
                },
                "endpoint": {
                  "type": "string",
                  "example": "/v2/teams/1842/projects"
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/members": {
      "get": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "getTeamMembers",
        "summary": "Get team members",
        "description": "Get a list of all members in a team.",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "members": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "postTeamMembers",
        "summary": "Add team members",
        "description": "Add members to a team with a role.",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/TeamRoleId"
          },
          {
            "name": "user_ids",
            "in": "formData",
            "type": "string",
            "description": "A comma delimited string of integer user IDs",
            "example": "2,3,4"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                },
                "http_code": {
                  "type": "integer",
                  "example": 202
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/members/{userId}": {
      "delete": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "deleteTeamMember",
        "summary": "Delete a team member",
        "description": "Delete a team member",
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/UserIdRequiredInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 1
                },
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      },
      "patch": {
        "x-category": "Teams",
        "tags": [
          "Teams"
        ],
        "operationId": "patchTeamMember",
        "summary": "Modify a team member",
        "description": "Modify a team member's role or position in the member list.",
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/TeamIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/UserIdRequiredInPath"
          },
          {
            "$ref": "#/parameters/TeamRoleId"
          },
          {
            "name": "after_id",
            "in": "formData",
            "description": "The integer ID of the user to place this user after in the member list",
            "type": "integer",
            "example": 234876
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "example": 200
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/followers": {
      "get": {
[...]
